@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #28282B;
  margin: 0;
  padding: 0 15px;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  color: #5D3FD3;
}

h2 {
  font-weight: 700;
  font-size: 45px;
  color: #5D3FD3;
}

h3 {
  font-weight: 600;
  font-size: 36px;
  color: #5D3FD3;
}

h4 {
  font-weight: 600;
  font-size: 27px;
  color: #5D3FD3;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #28282B;
}

a {
  font-family: "Poppins", serif;
  font-weight: 500;
  color: #5D3FD3;
  text-decoration: underline;
}

a:hover {
  color: #00A36C;
  text-decoration: none;
}

ul,
ol {
  margin: 0 0 30px 30px;
  font-size: 18px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

body {
  margin: 0 30px;
}

section {
  margin: 30px 0 0 0;
}

ul {
  margin: 0 0 0 30px;
  padding: 30px 0 0 0;
  list-style-type: disc;
}

ol {
  margin: 0 0 0 30px;
  padding: 30px 0 0 0;
  list-style-type: decimal;
}

button,
.btn,
.btn-primary {
  background: #5D3FD3;
  color: #FAF9F6;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 30px;
  display: inline-block;
}

.btn.btn-secondary {
  background: #E6E6FA;
  color: #28282B;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 30px;
  display: inline-block;
}

.btn.btn-success {
  background: #00A36C;
  color: #28282B;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 30px;
  display: inline-block;
}

.btn.btn-info {
  background: #5F9EA0;
  color: #28282B;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 30px;
  display: inline-block;
}

.btn.btn-warning {
  background: #FFC300;
  color: #FAF9F6;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 30px;
  display: inline-block;
}

.btn.btn-danger {
  background: #E34234;
  color: #28282B;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 30px;
  display: inline-block;
}

a {
  text-decoration: underline;
  color: #5D3FD3;
}

form {
  max-width: 600px;
  margin: 30px;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

input[type=text],
input[type=email] {
  border: 1px solid #28282B;
  padding: 6px;
  border-radius: 6px;
}

.table-hover {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}
.table-hover th,
.table-hover td {
  padding: 10px;
  border: 1px solid #ddd;
}
.table-hover th {
  background-color: #343a40;
  color: white;
}
.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}
.table-hover tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-hover tr:nth-child(odd) {
  background-color: white;
}
@media (max-width: 768px) {
  .table-hover th,
  .table-hover td {
    font-size: 14px;
    padding: 8px;
  }
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
}

.table-lg {
  font-size: 18px;
}

.table-head-dark th {
  background-color: #343a40;
  color: white;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.box {
  width: 100px;
  border-radius: 4px;
}

.rounded-sm {
  border-radius: 6px;
}

.rounded-md {
  border-radius: 14px;
}

.rounded-lg {
  border-radius: 20px;
}

.rounded-full {
  border-radius: 50%;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 100px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.fs-sm {
  font-size: 12px;
}

.fs-md {
  font-size: 16px;
}

.fs-lg {
  font-size: 20px;
}

.fs-xl {
  font-size: 24px;
}

.text-primary {
  color: #5D3FD3;
}

.text-secondary {
  color: #E6E6FA;
}

.text-success {
  color: #00A36C;
}

.text-danger {
  color: #E34234;
}

.text-warning {
  color: #FFC300;
}

.text-info {
  color: #5F9EA0;
}

.text-dark {
  color: #28282B;
}

.text-light {
  color: #FAF9F6;
}

.bg-primary {
  background-color: #5D3FD3;
}

.bg-secondary {
  background-color: #E6E6FA;
}

.bg-success {
  background-color: #00A36C;
}

.bg-danger {
  background-color: #E34234;
}

.bg-warning {
  background-color: #FFC300;
}

.bg-info {
  background-color: #5F9EA0;
}

.bg-dark {
  background-color: #28282B;
}

.bg-light {
  background-color: #FAF9F6;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-stretch {
  align-items: stretch !important;
}

/*# sourceMappingURL=simple.css.map */
